<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="TinyMCERTE" description="TinyMCERTE items">
          <targetDataStore physicalRootPath="C:\Source\Sitecore-TinyMCERTE\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="core" path="/sitecore/templates/User Defined/Data/TinyMCE Editor Profile" />
            <include name="TinyMCERTE field" database="core" path="/sitecore/system/Field types/Custom/TinyMCERTE" />
            <include name="Rich Text with TinyMCERTE field" database="core" path="/sitecore/system/Field types/Custom/Rich Text with TinyMCERTE" />
            <include name="Field editing profiles" database="core" path="/sitecore/system/Settings/TinyMCE Editor Profiles" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>