<configuration xmlns:x="https://www.sitecore.com/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="TinyMCERTE.TinyEditor" assembly="TinyMCERTE" prefix="tinyrte" />
    </controlSources>

    <settings>
      <!--  TINYMCE EDITOR DEFAULT CONFIGURATION TYPE
            Specifies the type responsible for setting up the TinyMCE editor. Must inherit from TinyMCERTE.TinyEditorConfiguration,TinyMCERTE.
            Default value: Sitecore.Shell.Controls.RichTextEditor.EditorConfiguration,Sitecore.Client
      -->
      <setting name="TinyEditor.DefaultConfigurationType" value="TinyMCERTE.TinyEditorConfiguration,TinyMCERTE" />
      
      <!--  TINYMCE EDITOR DEFAULT PROFILE
            Path to the default html editor profile.
            Default value: /sitecore/system/Settings/TinyMCE Editor Profiles/TinyMCE Default Profile
      -->
      <setting name="TinyEditor.DefaultProfile" value="/sitecore/system/Settings/TinyMCE Editor Profiles/TinyMCE Default Profile" />
    </settings>

    <commands>
      <command name="tinymce:insertlink" type="TinyMCERTE.Commands.InsertLink, TinyMCERTE" />
      <command name="tinymce:insertimage" type="TinyMCERTE.Commands.InsertImage, TinyMCERTE" />
    </commands>
  </sitecore>
</configuration>